USE [master]
GO
/****** Object:  Database [Recipes]    Script Date: 28.04.2023 9:17:58 ******/
CREATE DATABASE [Recipes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Recipes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SERV1215\MSSQL\DATA\Recipes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Recipes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SERV1215\MSSQL\DATA\Recipes_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Recipes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Recipes]
GO
/****** Object:  User [user01]    Script Date: 28.04.2023 9:17:58 ******/
CREATE USER [user01] FOR LOGIN [user01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 28.04.2023 9:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CookingStage]    Script Date: 28.04.2023 9:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CookingStage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[DishId] [int] NOT NULL,
	[TimeInMinutes] [int] NULL,
 CONSTRAINT [PK_CookingStage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dish]    Script Date: 28.04.2023 9:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dish](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ServingQuantity] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[RecipeLink] [nvarchar](200) NULL,
	[Photo] [image] NULL,
	[PhotoPath] [nvarchar](50) NULL,
 CONSTRAINT [PK_Dish] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 28.04.2023 9:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Cost] [money] NOT NULL,
	[CostForCount] [float] NOT NULL,
	[UnitId] [int] NOT NULL,
	[AvailableCount] [float] NOT NULL,
 CONSTRAINT [PK_Ingredient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngredientOfStage]    Script Date: 28.04.2023 9:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredientOfStage](
	[CookingStageId] [int] NOT NULL,
	[IngredientId] [int] NOT NULL,
	[Quantity] [float] NOT NULL,
 CONSTRAINT [PK_IngredientOfStage] PRIMARY KEY CLUSTERED 
(
	[CookingStageId] ASC,
	[IngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 28.04.2023 9:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'Десерт')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'Салат')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (3, N'Суп')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[CookingStage] ON 

INSERT [dbo].[CookingStage] ([Id], [Description], [DishId], [TimeInMinutes]) VALUES (0, N'asdas', 1, 123)
INSERT [dbo].[CookingStage] ([Id], [Description], [DishId], [TimeInMinutes]) VALUES (6, N'Сыр натереть на мелкой терке, добавить муку, яйцо. Перемешать. Сформировать сырные палочки.', 1, 60)
INSERT [dbo].[CookingStage] ([Id], [Description], [DishId], [TimeInMinutes]) VALUES (7, N'Обжарить их в растительном масле до золотистого цвета.', 1, 20)
SET IDENTITY_INSERT [dbo].[CookingStage] OFF
GO
SET IDENTITY_INSERT [dbo].[Dish] ON 

SET IDENTITY_INSERT [dbo].[Dish] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingredient] ON 

INSERT [dbo].[Ingredient] ([Id], [Name], [Cost], [CostForCount], [UnitId], [AvailableCount]) VALUES (1, N'Сыр твердый', 150.0000, 200, 1, 200)
INSERT [dbo].[Ingredient] ([Id], [Name], [Cost], [CostForCount], [UnitId], [AvailableCount]) VALUES (2, N'Яйцо куриное', 60.0000, 10, 0, 7)
INSERT [dbo].[Ingredient] ([Id], [Name], [Cost], [CostForCount], [UnitId], [AvailableCount]) VALUES (3, N'Мука', 100.0000, 1000, 2, 2)
SET IDENTITY_INSERT [dbo].[Ingredient] OFF
GO
INSERT [dbo].[IngredientOfStage] ([CookingStageId], [IngredientId], [Quantity]) VALUES (6, 2, 1)
INSERT [dbo].[IngredientOfStage] ([CookingStageId], [IngredientId], [Quantity]) VALUES (6, 4, 1)
INSERT [dbo].[IngredientOfStage] ([CookingStageId], [IngredientId], [Quantity]) VALUES (6, 6, 1)
GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([Id], [Name]) VALUES (0, N'шт.')
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (1, N'мл')
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (2, N'г')
SET IDENTITY_INSERT [dbo].[Unit] OFF
GO
ALTER TABLE [dbo].[CookingStage]  WITH CHECK ADD  CONSTRAINT [FK_CookingStage_Dish] FOREIGN KEY([DishId])
REFERENCES [dbo].[Dish] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CookingStage] CHECK CONSTRAINT [FK_CookingStage_Dish]
GO
ALTER TABLE [dbo].[Dish]  WITH CHECK ADD  CONSTRAINT [FK_Dish_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Dish] CHECK CONSTRAINT [FK_Dish_Category]
GO
ALTER TABLE [dbo].[Ingredient]  WITH CHECK ADD  CONSTRAINT [FK_Ingredient_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Ingredient] CHECK CONSTRAINT [FK_Ingredient_Unit]
GO
ALTER TABLE [dbo].[IngredientOfStage]  WITH CHECK ADD  CONSTRAINT [FK_IngredientOfStage_CookingStage] FOREIGN KEY([CookingStageId])
REFERENCES [dbo].[CookingStage] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IngredientOfStage] CHECK CONSTRAINT [FK_IngredientOfStage_CookingStage]
GO
ALTER TABLE [dbo].[IngredientOfStage]  WITH CHECK ADD  CONSTRAINT [FK_IngredientOfStage_Ingredient] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredient] ([Id])
GO
ALTER TABLE [dbo].[IngredientOfStage] CHECK CONSTRAINT [FK_IngredientOfStage_Ingredient]
GO
USE [master]
GO
